raspi/node-red/flows.json
[
    {
        "id": "8caa13b6a1f35213",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "mqtt1",
        "type": "mqtt in",
        "z": "8caa13b6a1f35213",
        "name": "Tüm Telemetry",
        "topic": "+/+/telemetry",
        "qos": "1",
        "broker": "broker1",
        "inputs": 0,
        "x": 300,
        "y": 340,
        "wires": [
            [
                "json1"
            ]
        ]
    },
    {
        "id": "json1",
        "type": "json",
        "z": "8caa13b6a1f35213",
        "name": "JSON Parse",
        "x": 500,
        "y": 340,
        "wires": [
            [
                "func1",
                "debug1"
            ]
        ]
    },
    {
        "id": "debug1",
        "type": "debug",
        "z": "8caa13b6a1f35213",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 500,
        "y": 440,
        "wires": []
    },
    {
        "id": "func1",
        "type": "function",
        "z": "8caa13b6a1f35213",
        "name": "Veriyi Ayır (DS18B20 + DHT11)",
        "func": "// 5 çıkış:\n// 1 → DS18B20 sıcaklık gauge\n// 2 → DHT11 sıcaklık gauge\n// 3 → Nem gauge\n// 4 → Sıcaklık chart (topic: ds18b20, dht11)\n// 5 → Nem chart (topic: dht11_nem)\n\nconst p = msg.payload;\nif (!p || typeof p !== \"object\") {\n    return null;\n}\n\nconst sensor = String(p.sensor || p.cihaz_id || p.device_id || \"unknown\").toLowerCase();\n\nlet sicaklik = p.sicaklik;\nlet nem = p.nem;\n\nif (p.values && typeof p.values === \"object\") {\n    if (sicaklik === undefined) sicaklik = p.values.sicaklik;\n    if (nem === undefined) nem = p.values.nem;\n}\n\nconst isDs18 = sensor.includes(\"ds18\");\nconst isDht = sensor.includes(\"dht\");\n\nconst outDs18Gauge = [];\nconst outDhtTempGauge = [];\nconst outNemGauge = [];\nconst outTempChart = [];\nconst outNemChart = [];\n\nif (sicaklik !== undefined && sicaklik !== null && !Number.isNaN(Number(sicaklik))) {\n    const t = Number(sicaklik);\n\n    if (isDs18) {\n        outDs18Gauge.push({ payload: t });\n        outTempChart.push({ payload: t, topic: \"ds18b20\" });\n    } else if (isDht || (nem !== undefined && nem !== null)) {\n        outDhtTempGauge.push({ payload: t });\n        outTempChart.push({ payload: t, topic: \"dht11\" });\n    } else {\n        outDs18Gauge.push({ payload: t });\n        outTempChart.push({ payload: t, topic: \"ds18b20\" });\n    }\n}\n\nif (nem !== undefined && nem !== null && !Number.isNaN(Number(nem))) {\n    const n = Number(nem);\n    outNemGauge.push({ payload: n });\n    outNemChart.push({ payload: n, topic: \"dht11_nem\" });\n}\n\nif (\n    outDs18Gauge.length === 0 &&\n    outDhtTempGauge.length === 0 &&\n    outNemGauge.length === 0 &&\n    outTempChart.length === 0 &&\n    outNemChart.length === 0\n) {\n    return null;\n}\n\nreturn [outDs18Gauge, outDhtTempGauge, outNemGauge, outTempChart, outNemChart];\n",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 340,
        "wires": [
            [
                "gauge_ds18"
            ],
            [
                "gauge_dht_sicaklik"
            ],
            [
                "gauge_nem"
            ],
            [
                "chart_sicaklik"
            ],
            [
                "chart_nem"
            ]
        ]
    },
    {
        "id": "gauge_ds18",
        "type": "ui_gauge",
        "z": "8caa13b6a1f35213",
        "name": "DS18B20",
        "group": "group1",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "DS18B20 (°C)",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": 50,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": 25,
        "seg2": 35,
        "x": 980,
        "y": 260,
        "wires": []
    },
    {
        "id": "gauge_dht_sicaklik",
        "type": "ui_gauge",
        "z": "8caa13b6a1f35213",
        "name": "DHT11 Sıcaklık",
        "group": "group1",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "DHT11 Sıcaklık (°C)",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": 50,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": 25,
        "seg2": 35,
        "x": 980,
        "y": 320,
        "wires": []
    },
    {
        "id": "gauge_nem",
        "type": "ui_gauge",
        "z": "8caa13b6a1f35213",
        "name": "Nem",
        "group": "group1",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "DHT11 Nem (%)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": 30,
        "seg2": 60,
        "x": 980,
        "y": 380,
        "wires": []
    },
    {
        "id": "chart_sicaklik",
        "type": "ui_chart",
        "z": "8caa13b6a1f35213",
        "name": "Sıcaklık Grafiği",
        "group": "group1",
        "order": 4,
        "width": 12,
        "height": 6,
        "label": "Sıcaklık Geçmişi (DS18B20 + DHT11)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Veri bekleniyor",
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "outputs": 1,
        "x": 980,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "chart_nem",
        "type": "ui_chart",
        "z": "8caa13b6a1f35213",
        "name": "Nem Grafiği",
        "group": "group1",
        "order": 5,
        "width": 12,
        "height": 6,
        "label": "Nem Geçmişi (DHT11)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Veri bekleniyor",
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "outputs": 1,
        "x": 980,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "broker1",
        "type": "mqtt-broker",
        "name": "Local Mosquitto",
        "broker": "localhost",
        "port": "1883",
        "clientid": "nodered_ds18_dht11",
        "usetls": false,
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "group1",
        "type": "ui_group",
        "name": "Sensör Verileri",
        "tab": "tab1",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "tab1",
        "type": "ui_tab",
        "name": "Akıllı Sistemler",
        "icon": "dashboard",
        "order": 1,
        "disabled": false
    },
    {
        "id": "4deb7ed6ede793e2",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]
